# Bytecode / cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environments
.venv/
.env

# VS Code / Editors
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Data outputs
*.sqlite
*.db
*.csv
!artifacts/
!artifacts/*.csv
!artifacts/README.md

# Logs
project.log
*.log
